.vscode/**
src/**
test/**
dist-test/**
dist-integration/**
node_modules/**
*.tsbuildinfo
.git/**
.real-world-cache/**
.sealevel-insight-cache/**
.github/**
*.vsix
.gitignore
.npmignore
**/*.map
esbuild.mjs
tsconfig*.json
scripts/**
dist-cli-package/**
npm/**
resources/**
target/**
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
media/sealevel-insight-logo.png
