.vscode/**
src/**
test/**
dist-test/**
node_modules/**
*.tsbuildinfo
.git/**
.github/**
*.vsix
.gitignore
**/*.map
esbuild.mjs
tsconfig*.json
scripts/**
resources/**
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
